<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superyc.heiniu.mapper.SessionMapper">
  <resultMap id="BaseResultMap" type="com.superyc.heiniu.bean.Session">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sign" jdbcType="CHAR" property="sign" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sign, user_id, expired_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bc_session
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bc_session
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.superyc.heiniu.bean.Session">
    insert into bc_session (id, sign, user_id, 
      expired_time)
    values (#{id,jdbcType=INTEGER}, #{sign,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, 
      #{expiredTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.superyc.heiniu.bean.Session">
    insert into bc_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="expiredTime != null">
        expired_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="expiredTime != null">
        #{expiredTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.superyc.heiniu.bean.Session">
    update bc_session
    <set>
      <if test="sign != null">
        sign = #{sign,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="expiredTime != null">
        expired_time = #{expiredTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superyc.heiniu.bean.Session">
    update bc_session
    set sign = #{sign,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      expired_time = #{expiredTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>