<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superyc.heiniu.mapper.SessionMapper">
    <resultMap id="BaseResultMap" type="com.superyc.heiniu.bean.Session">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sign" jdbcType="CHAR" property="sign"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id,
        sign,
        user_id,
        expired_time
    </sql>
    <select id="selectByExample" parameterType="com.superyc.heiniu.bean.SessionExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from session
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from session
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM session WHERE user_id = #{userId}
    </select>
    <select id="selectBySign" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM session WHERE sign = #{sign}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from session
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.superyc.heiniu.bean.SessionExample">
        delete from session
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.superyc.heiniu.bean.Session">
        insert into session (id, sign, user_id,
                             expired_time)
        values (#{id,jdbcType=INTEGER}, #{sign,jdbcType=CHAR}, #{userId,jdbcType=INTEGER},
                #{expiredTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.superyc.heiniu.bean.Session">
        insert into session
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="expiredTime != null">
                expired_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="expiredTime != null">
                #{expiredTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.superyc.heiniu.bean.SessionExample" resultType="java.lang.Long">
        select count(*) from session
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update session
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.sign != null">
                sign = #{record.sign,jdbcType=CHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.expiredTime != null">
                expired_time = #{record.expiredTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update session
        set id = #{record.id,jdbcType=INTEGER},
        sign = #{record.sign,jdbcType=CHAR},
        user_id = #{record.userId,jdbcType=INTEGER},
        expired_time = #{record.expiredTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.superyc.heiniu.bean.Session">
        update session
        <set>
            <if test="sign != null">
                sign = #{sign,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="expiredTime != null">
                expired_time = #{expiredTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.superyc.heiniu.bean.Session">
        update session
        set sign         = #{sign,jdbcType=CHAR},
            user_id      = #{userId,jdbcType=INTEGER},
            expired_time = #{expiredTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>